name: Deploy Build to GitHub

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'

    - name: Build Project
      run: |
        npm install
        npm run build
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: carpeta-dist-lista
        path: dist/
